<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="ch.bbcag.blugij.grademanager">

    <application
        android:allowBackup="true"
        android:icon="@drawable/icon"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".activity.SemesterActivity"
            android:label="@string/title_activity_semester"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".activity.FachActivity"
            android:label="@string/title_activity_fach"
            android:launchMode="singleInstance"
            android:parentActivityName=".activity.SemesterActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="ch.bbcag.blugij.grademanager.activity.SemesterActivity" />
        </activity>

        <activity
            android:name=".activity.EditSemesterActivity"
            android:label="@string/title_activity_edit_semester"
            android:launchMode="singleInstance"
            android:parentActivityName=".activity.SemesterActivity"
            android:theme="@style/AppTheme.NoActionBar" />

        <activity
            android:name=".activity.NoteActivity"
            android:label="@string/title_activity_note"
            android:launchMode="singleInstance"
            android:parentActivityName=".activity.FachActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="ch.bbcag.blugij.grademanager.activity.FachActivity" />
        </activity>

        <activity
            android:name=".activity.EditFachActivity"
            android:label="@string/title_activity_edit_fach"
            android:launchMode="singleInstance"
            android:parentActivityName=".activity.SemesterActivity"
            android:theme="@style/AppTheme.NoActionBar" />

        <activity
            android:name=".activity.EditNoteActivity"
            android:label="@string/title_activity_edit_note"
            android:launchMode="singleInstance"
            android:parentActivityName=".activity.SemesterActivity"
            android:theme="@style/AppTheme.NoActionBar"/>

    </application>
</manifest>